<div id="login-container">
    <div id="login" class="fcenter">
      <div class="t-v">
        <img src="" alt="">
        <h3>Convocatoria</h3>
      </div>
      <div class="tcenter t-v">
        <h3>Registro de Postulantes</h3>
        <p>Registre sus datos</p>
      </div>
      <div style="margin: 15px">
        <div>
          <label for="dni">N° de DNI</label>
          <div class="icon-container">
            <input type="text" name="dni" id="dni" placeholder="Ingrese su DNI">
            <i class="fa-solid fa-user input-icon"></i>
          </div>
        </div>
        <div>
          <label for="email">Correo Electrónico</label>
          <div class="icon-container">
            <input type="text" name="email" id="email" placeholder="Ingrese su Correo">
            <i class="fa-solid fa-lock input-icon"></i>
          </div>
        </div>
        <div style="display: flex;visibility: hidden; justify-content: space-between">
          <p>Recordar</p>
          <a href="" class="t-v">¿Olvidaste tu Contraseña?</a>
        </div>
        <div class="icon-container">
          <input type="submit" value="Registrar Cuenta">
          <i class="fa-solid fa-arrow-right-to-bracket submit-icon" style="right: 25%"></i>
        </div>
      </div>
      <div class="soporte">
        <div>
          <p>
            <a href="" class="t-v">Regresar al Inicio de Sesión</a>
          </p>
        </div>
        <div class="t-v" style="margin-left: 15px; border-left: 2px solid #025F45">
          <i class="fa-solid fa-user"></i>
          <a href="" class="t-v">Soporte Técnico</a>
        </div>
      </div>
    </div>
  
  </div>