<div id="login-container">
    <div id="login" class="fcenter">
      <div class="t-v d-flex justify-content-between">
        <img src="./../../assets/logo.png" alt="" width="200px" >
        <h3>Convocatoria</h3>
      </div>
      <div class="title-con t-v">
        <h3>Registro de Postulantes</h3>
        <h5>Registre sus datos</h5>
      </div>
      <div style="margin: 15px">
        <div style="margin: 10px">
          <label for="dni">N° de DNI</label>
          <div class="icon-container">
            <input type="text" name="dni" id="dni" placeholder="Ingrese su DNI">
            <i class="fa-solid fa-user input-icon"></i>
          </div>
        </div>
        <div style="margin: 10px">
          <label for="email">Correo Electrónico</label>
          <div class="icon-container">
            <input type="text" name="email" id="email" placeholder="Ingrese su Correo">
            <i class="fa-solid fa-lock input-icon"></i>
          </div>
        </div>
        <div style="display: flex;visibility: hidden; justify-content: space-between">
          <p>Recordar</p>
          <a href="" class="t-v">¿Olvidaste tu Contraseña?</a>
        </div>
        <div class="icon-container" style="margin: 15px">
          <input type="submit" value="Registrar Cuenta">
          <i class="fa-solid fa-file-pen submit-icon"></i>

        </div>


      </div>
      <div class="soporte">
        <p>
          <a href="/login" class="t-v">Regresar al Inicio de Sesión</a>
        </p>
        <div>
          <i class="support-icon fa-solid fa-headset" style="font-size: 2em"></i>
        </div>
        <p>
          <a href="" class="t-v">Soporte Técnico</a>
        </p>

      </div>
    </div>

  </div>
