<div id="contenido">
  <div id="convocatoria" class="fc-menu d-flex flex-column ">
    <div id="search" class="fc-input p7-7 d-flex col-4 align-items-center justify-content-center" style="width: 100%">
      <label class="col-2" for="documento">Buscar Convocatoria:</label>
      <input class="col-6" type="text" name="documento" id="documento"  placeholder="Ingrese número de convocatoria">
      <div id="search-button" class="col-2 icon-container">
        <input class="input-submit" type="submit" value="Buscar">
        <i class="fa-solid fa-magnifying-glass input-icon search-icon"></i>
      </div>
    </div>
    <div id="resumen" class="d-flex justify-content-center">
      <table class="table-hover table-bordered tablas">
        <thead class="t-head">
        <tr>
          <th>N°</th>
          <th>Nombre de la Convocatoria</th>
          <th>Puesto</th>
          <th class="c2">Fase 1 <hr> Evaluación de Requisitos Mínimos</th>
          <th class="c2">Fase 2 <hr> Evaluación de Conocimientos</th>
          <th class="c2">Fase 3 <hr> Evaluación<br>Curricular</th>
          <th class="c2">Fase 4 <hr> Entrevista<br>Personal</th>
          <th class="c2">Resultado Final</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>CONVOCATORIA CAS N° 001-2022-UNCP</td>
          <td>Asistente Logístico</td>
          <td class="fases">
            21/04/2022 <br>
            <p class="t-amarillo">Resultados<i class="enable fa-solid fa-download"></i></p>
          </td>
          <td class="fases">
            21/04/2022 <br>
            <p class="t-amarillo">Resultados<i class="enable fa-solid fa-download"></i></p>
          </td>
          <td class="fases">
            21/04/2022 <br>
            <p class="t-amarillo">Resultados<i class="enable fa-solid fa-download"></i></p>
          </td>
          <td class="fases">
            21/04/2022 <br>
            <p class="t-amarillo">Resultados<i class="enable fa-solid fa-download"></i></p>
          </td>
          <td class="fases">
            21/04/2022 <br>
            <p class="t-amarillo">Resultados<i class="enable fa-solid fa-download"></i></p>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>CONVOCATORIA CAS N° 001-2022-UNCP</td>
          <td>Asistente Logístico</td>
          <td class="fases">
            21/04/2022 <br>
            <p class="t-amarillo">Resultados<i class="enable fa-solid fa-download"></i></p>
          </td>
          <td class="fases">
            21/04/2022 <br>
            <p class="t-amarillo">Resultados<i class="enable fa-solid fa-download"></i></p>
          </td>
          <td class="fases">
            21/04/2022 <br>
            <p class="t-amarillo">Resultados<i class="enable fa-solid fa-download"></i></p>
          </td>
          <td class="fases">
            21/04/2022 <br>
            <p class="t-amarillo">Resultados<i class="enable fa-solid fa-download"></i></p>
          </td>
          <td class="fases">
            21/04/2022 <br>
            <p class="t-amarillo">Resultados<i class="enable fa-solid fa-download"></i></p>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>CONVOCATORIA CAS N° 001-2022-UNCP</td>
          <td>Asistente Logístico</td>
          <td class="fases">
            21/04/2022 <br>
            <p class="t-amarillo">Resultados<i class="enable fa-solid fa-download"></i></p>
          </td>
          <td class="fases">
            21/04/2022 <br>
            <p class="t-amarillo">Resultados<i class="enable fa-solid fa-download"></i></p>
          </td>
          <td class="fases">
            21/04/2022 <br>
            <p class="t-amarillo">Resultados<i class="enable fa-solid fa-download"></i></p>
          </td>
          <td class="fases">
            21/04/2022 <br>
            <p class="t-amarillo">Resultados<i class="enable fa-solid fa-download"></i></p>
          </td>
          <td class="fases">
            21/04/2022 <br>
            <p class="t-amarillo">Resultados<i class="enable fa-solid fa-download"></i></p>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>CONVOCATORIA CAS N° 001-2022-UNCP</td>
          <td>Asistente Logístico</td>
          <td class="fases">
            21/04/2022 <br>
            <p class="t-amarillo">Resultados<i class="enable fa-solid fa-download"></i></p>
          </td>
          <td class="fases">
            21/04/2022 <br>
            <p class="t-amarillo">Resultados<i class="enable fa-solid fa-download"></i></p>
          </td>
          <td class="fases">
            21/04/2022 <br>
            <p class="t-amarillo">Resultados<i class="enable fa-solid fa-download"></i></p>
          </td>
          <td class="fases">
            21/04/2022 <br>
            <p class="t-amarillo">Resultados<i class="enable fa-solid fa-download"></i></p>
          </td>
          <td class="fases">
            21/04/2022 <br>
            <p class="t-amarillo">Resultados<i class="enable fa-solid fa-download"></i></p>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
