<div id="contenido">
  <div id="convocatoria" class="fc-menu d-flex flex-column ">
    <div id="search" class="fc-input p7-7 d-flex col-4 align-items-center justify-content-center" style="width: 100%">
      <label class="col-2" for="documento">Buscar Convocatoria:</label>
      <input class="col-6" type="text" name="documento" id="documento"  placeholder="Ingrese número de convocatoria">
      <input class="col-2 input-submit" type="submit" value="Buscar">
    </div>
    <div id="resumen" class="d-flex flex-column justify-content-center">
      <h4>Listado de Puesto de Convocatoria</h4>
      <table class="table-hover table-bordered tablas">
        <thead class="t-head">
          <tr>
            <th class="c1">N°</th>
            <th class="c6">Nombre de la Convocatoria</th>
            <th class="c3">Puesto</th>
            <th class="c4">Área Solicitante</th>
            <th class="c2">Sueldo</th>
            <th class="c4">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>CONVOCATORIA CAS N° 001-2022-UNCP</td>
            <td>Asistenten Logístico 1</td>
            <td>Bienestar Universitario</td>
            <td>S/. 2500.00</td>
            <td>
              <div class="justify-content-center doble-button">
                <button class="button-link-action vigente ver">Ver</button>
                <button class="button-link-action postular">Postular</button>
              </div>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>CONVOCATORIA CAS N° 001-2022-UNCP</td>
            <td>Asistenten Logístico 1</td>
            <td>Bienestar Universitario</td>
            <td>S/. 2500.00</td>
            <td>
              <div class="justify-content-center doble-button">
                <button class="button-link-action vigente ver">Ver</button>
                <button class="button-link-action postular">Postular</button>
              </div>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>CONVOCATORIA CAS N° 001-2022-UNCP</td>
            <td>Asistenten Logístico 1</td>
            <td>Bienestar Universitario</td>
            <td>S/. 2500.00</td>
            <td>
              <div class="justify-content-center doble-button">
                <button class="button-link-action vigente ver">Ver</button>
                <button class="button-link-action postular">Postular</button>
              </div>
            </td>
          </tr>
          <tr>
            <td>4</td>
            <td>CONVOCATORIA CAS N° 001-2022-UNCP</td>
            <td>Asistenten Logístico 1</td>
            <td>Bienestar Universitario</td>
            <td>S/. 2500.00</td>
            <td>
              <div class="justify-content-center doble-button">
                <button class="button-link-action vigente ver">Ver</button>
                <button class="button-link-action postular">Postular</button>
              </div>
            </td>
          </tr>
          <tr>
            <td>5</td>
            <td>CONVOCATORIA CAS N° 001-2022-UNCP</td>
            <td>Asistenten Logístico 1</td>
            <td>Bienestar Universitario</td>
            <td>S/. 2500.00</td>
            <td>
              <div class="justify-content-center doble-button">
                <button class="button-link-action vigente ver">Ver</button>
                <button class="button-link-action postular">Postular</button>
              </div>
            </td>
          </tr>
          <tr>
            <td>6</td>
            <td>CONVOCATORIA CAS N° 001-2022-UNCP</td>
            <td>Asistenten Logístico 1</td>
            <td>Bienestar Universitario</td>
            <td>S/. 2500.00</td>
            <td>
              <div class="justify-content-center doble-button">
                <button class="button-link-action vigente ver">Ver</button>
                <button class="button-link-action postular">Postular</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
