
<div id="contenido" class="d-flex flex-column align-items-center">

  <div id="correo">
    <p>
      Estimado postulante, te mostraremos las credenciales e indicaciones
    </p>
    <div>
      <div class="d-flex">
        <img src="./../../assets/exclamation.svg">
        <h4 class="remember">Recuerda que:</h4>
      </div>
      <div class="parrafo">
          <li>El correo y contraseña son del dominio de la UNCP con el respaldo de Mircrosoft.</li>
          <li>El correo es creado temporalmente para la facilidad del postulante al momento de rendir el examen de conocimiento.</li>
          <li>El postulante deberá de iniciar sesión en la plataforma de <a target="_blank" href="https://www.office.com/">www.office.com</a> y sincronizar con la aplicación (escritorio o web)
            de Mircrosoft Teams para poder rendir el examen.</li>
          <li>El examen sera el día 15 mayo del 2022 a las 02:15 p.m., por lo que el postulante deberá de conectarse 10 minutos antes
            para verificar el acceso a su cuenta.</li>
          <li>El día 15 mayo del 2022 a las 02:00 p.m., se dará una reunión de todos los postulantes para realizar algunas indicaciones,
            esta reunión sera por la plataforma de Microsoft Teams, para ello el postulante una vez sincronizado la cuenta que se le
            brindo con la aplicación (escritorio o web) de Microsoft Teams, debera ingresara dicha reunión en la hora indicada.</li>

      </div>

    </div>
    <hr>
    <div id="less20">
      <div id="correos" class="d-flex">
        <div class="fc-input d-flex col-5">
          <label for="correo">Correo: </label>
          <input type="text" name="correo" disabled value="postulante1@uncp.edu.pe">
        </div>
        <div class="fc-input d-flex col-4">
          <label for="correo">Correo: </label>
          <input type="text" name="correo" disabled value="a25j63q5">
        </div>
        <div class="fc-input d-flex col-3">
          <a href="" class="button-link-action finalizado office-link">Ingresar a Office</a>
        </div>
      </div>
      <p class="text-center">Recuerda que al ingresar a <a target="_blank" href="https://www.office.com/">www.office.com</a> debera de cambiar la contraseña que se brindo.</p>
      <div class="links d-flex">
        <p class="col-2">Link de la Reunión:</p>
        <p class="col-10">https://teams.microsoft.com/meetingOptions/?organizerId=866991650475658192&amp;language=es-ES</p>
      </div>
      <div class="links d-flex">
        <p class="col-2">Link del Examen:</p>
        <p class="col-10">https://teams.microsoft.com/meetingOptions/?organizerId=866991650475658192&amp;language=es-ES</p>
      </div>
      <p class="text-center">El link del examen se habilitará a la hora indicada.</p>
  </div>
</div>
