<div id="contenido">
  <div>
    <h3>
      Estimado postulante, te mostraremos las credenciales e indicaciones
    </h3>
    <div>
      <div class="d-flex">
        <i class="fa-solid fa-circle-exclamation icon-exclamation"></i>
        <h4>Recuerda que:</h4>
      </div>
      <p>El correo y contraseña son del dominio de la UNCP con el respaldo de Mircrosoft.</p>
      <p>El correo es creado temporalmente para la facilidad del postulante al momento de rendir el examen de conocimiento.</p>
      <p></p>
      <p></p>
      <p></p>
    </div>
    <div>

    </div>
  </div>
</div>
