<div id="contenido">
  <div>
    <div class="fc-menu d-flex justify-content-around">
      <div>
        <a href="/intranet/datospersonales" class="fc-menu-route text-decoration-none">
          <div class="ext-border">
            <i class="fa-solid fa-user fc-circular-icon"></i>
          </div>
          <p>Datos Personales</p>
        </a>
      </div>
      <div>
        <a href="/intranet/formacionprof" class="fc-menu-route text-decoration-none">
          <div class="ext-border">
            <i class="fa-solid fa-book fc-circular-icon"></i>
          </div>
          <p>Formación Académica</p>
        </a>
      </div>
      <div>
        <a href="/intranet/cursos" class="fc-menu-route text-decoration-none">
          <div class="ext-border">
            <i class="fa-solid fa-scroll fc-circular-icon"></i>
          </div>
          <p>Cursos y/o Especializaciones</p>
        </a>
      </div>
      <div>
        <a href="/intranet/experiencia" class="menu-fc-resaltado fc-menu-route text-decoration-none">
          <div class="ext-border">
            <i class="fa-solid fa-briefcase fc-circular-icon"></i>
          </div>
          <p>Experiencia Laboral</p>
        </a>
      </div>
      <div>
        <a href="/intranet/infoadd" class="fc-menu-route text-decoration-none">
          <div class="ext-border">
            <i class="fa-solid fa-info fc-circular-icon"></i>
          </div>
          <p>Información Adicional</p>
        </a>
      </div>
    </div>
    <hr>
    <div>
      <form id="form-th" action="" method="post">
        <div style="display: flex">
          <div class="fc-input d-flex flex-column col-6">
            <label for="tipo">Tipo de Experiencia<b>*</b></label>
            <input type="text" name="tipo" id="tipo"  placeholder="Seleccione">
          </div>
          <div class="fc-input d-flex flex-column col-6">
            <label for="t_entidad">Tipo de entidad<b>*</b></label>
            <input type="text" name="t_entidad" id="t_entidad" placeholder="Seleccione">
          </div>
        </div>
        <div style="display: flex">
          <div class="fc-input d-flex flex-column col-6">
            <label for="n_entidad">Nombre de la Entidad o Empresa <b>*</b></label>
            <input type="text" name="n_entidad" id="n_entidad"  placeholder="Ingrese Nombre de la entidad o institución">
          </div>
          <div class="fc-input d-flex flex-column col-6">
            <label for="cargo">Cargo Desempeñado<b>*</b></label>
            <input type="text" name="cargo" id="cargo"  placeholder="Ingrese Cargo">
          </div>
        </div>
        <div style="display: flex">
          <div class="fc-input d-flex flex-column col-12">
            <label for="funcion">Función dentro del Cargo<b>*</b></label>
            <input type="text" name="funcion" id="funcion"  placeholder="Ingrese Funciones Desempeñadas">
          </div>
        </div>
        <div style="display: flex">
          <div class="fc-input d-flex flex-column col-6">
            <label for="r_laboral">Referencia Laboral de Trabajo<b>*</b></label>
            <input type="text" name="r_laboral" id="r_laboral"  placeholder="Ingrese nombre de la referencia laboral">
          </div>
          <div class="fc-input d-flex flex-column col-6">
            <label for="n_laboral">Número de Contacto de Referencia Laboral<b>*</b></label>
            <input type="text" name="n_laboral" id="n_laboral"  placeholder="Ingrese número de celular">
          </div>
        </div>
        <div style="display: flex">
          <div class="fc-input d-flex flex-column col-6">
            <label for="fi_laboral">Fecha de Inicio<b>*</b></label>
            <input type="date" name="fi_laboral" id="fi_laboral"  placeholder="Ingrese Institución">
          </div>
          <div class="fc-input d-flex flex-column col-6">
            <label for="ff_laboral">Fecha de Cese<b>*</b></label>
            <input type="date" name="ff_laboral" id="ff_laboral" placeholder="Ingrese Grado Acádemico">
          </div>
        </div>
        <div style="display: flex">
          <div class="fc-input d-flex flex-column col-12">
            <label for="doc_laboral">Subir documento Sustentatorio (.pdf) <b>*</b></label>
            <input type="file" class="form-control" name="doc_laboral" id="doc_laboral"  placeholder="Ingrese Institución">
          </div>
        </div>
        <div class="d-flex justify-content-center message">
          <p>
            Los campos marcados con un "*" son Obligatorios
          </p>
        </div>
        <div class="d-flex justify-content-center">
          <input type="submit" value="Guardar" class="input-submit">
        </div>
      </form>
    </div>
    <div id="resumen" class="d-flex justify-content-center">
      <table class="table-hover table-bordered">
        <thead class="t-head">
        <tr>
          <th>Tipo de Experiencia</th>
          <th>Tipo de Entidad</th>
          <th>Nombre de la Empresa o Entidad</th>
          <th>Cargo Desempeñado</th>
          <th>Referencia</th>
          <th>Celular</th>
          <th>Tiempo Acumulado</th>
          <th>Fecha de Inicio</th>
          <th>Fecha de Fin</th>
          <th>Acción</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Específica</td>
          <td>Pública</td>
          <td>JuanitaLateos SAC</td>
          <td>Encargado de reparaciones e
            instalaciones eléctricas en planta</td>
          <td>Juan Perez Suares</td>
          <td>987456321</td>
          <td>6 meses</td>
          <td>15/03/2018</td>
          <td>15/03/2022</td>
          <td>
            <button>
              <i class="fa-solid fa-trash-can color-rojo"></i> Eliminar
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
