
<div id="contenido" class="d-flex flex-column align-items-center pt-5">
  <p>
    Para comenzar, es necesario actualizar tu contraseña
  </p>
  <div id="card">
    <div>
      <div class="d-flex flex-column">
        <form action="" method="">
          <div class="fc-input d-flex flex-column col-12">
            <label for="c_actual">Ingrese su contraseña actual</label>
            <div class="icon-container">
              <input type="password" name="c_actual" id="c_actual" placeholder="Ingrese contraseña">
              <i class="fa-solid fa-lock input-icon"></i>
            </div>
          </div>
          <div class="fc-input d-flex flex-column col-12">
            <label for="c_nueva">Ingrese su nueva contraseña</label>
            <div class="icon-container">
              <input type="password" name="c_nueva" id="c_nueva" placeholder="Nueva contraseña">
              <i class="fa-solid fa-lock input-icon"></i>
            </div>

          </div>
          <div class="fc-input d-flex flex-column col-12">
            <label for="c_verificacion">Confirme su nueva contraseña</label>
            <div class="icon-container">
              <input type="password" name="c_verificacion" id="c_verificacion" placeholder="Confirme contraseña">
              <i class="fa-solid fa-lock input-icon"></i>
            </div>

          </div>
          <div class="d-flex justify-content-center">
            <input type="submit" value="Actualizar" class="input-submit">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
