<div id="header-menu" class="mb-0 position-relative">
  <div id="header" class="d-flex pt-3 pb-3">
    <div class="row w-100">
      <div class="col-6 text-start">
        <img src="./../../assets/logo.png" alt="" height="80px" >
      </div>
      <div class="col-6 text-end">
        <h2 class="pt-3 fs-1" style="font-weight: 700; font-family: Arial, Helvetica, sans-serif;">Convocatoria <br><small>de Trabajo UNCP</small></h2>
      </div>
    </div>
  </div>
  <div id="menu" class="d-flex">
    <div id="submenu" class="d-flex">
      <a href="/intranet" class="menu-route text-decoration-none">
        <i class="fa-solid fa-house-chimney circular-icon"></i>
        <p>Inicio</p>
      </a>
    </div>
    <div id="menu-desplegable">
      <ul>
        <li>
          <button id="user-info" class="d-flex" onclick="location.href = '/login';">
            <p>Iniciar Sesión</p>
            <i class="fa-solid fa-caret-down" style="color: #fff; margin: 10px"></i>
            <i class="fa-solid fa-user circular-icon"></i>
          </button>
        </li>
      </ul>
    </div>

  </div>
</div>

<img src="./../../assets/banner.png" width="100%">

<div id="contenido">
  <div id="convocatoria" class="fc-menu d-flex flex-column ">
    <div id="search" class="fc-input p7-7 d-flex col-4 align-items-center justify-content-center" style="width: 100%">
      <label class="col-2" for="documento">Buscar Convocatoria:</label>
      <input class="col-6" type="text" name="documento" id="documento"  placeholder="Ingrese número de convocatoria">
      <div id="search-button" class="col-2 icon-container">
        <input class="input-submit" type="submit" value="Buscar">
        <i class="fa-solid fa-magnifying-glass input-icon search-icon"></i>
      </div>
    </div>
    <div id="resumen" class="d-flex flex-column justify-content-center">
      <h4>Listado de Puesto de Convocatoria</h4>
      <table class="table-hover table-bordered tablas">
        <thead class="t-head">
        <tr>
          <th class="c1">N°</th>
          <th class="c6">Nombre de la Convocatoria</th>
          <th class="c3">Puesto</th>
          <th class="c4">Área Solicitante</th>
          <th class="c2">Sueldo</th>
          <th class="c4">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>CONVOCATORIA CAS N° 001-2022-UNCP</td>
          <td>Asistenten Logístico 1</td>
          <td>Bienestar Universitario</td>
          <td>S/. 2500.00</td>
          <td>
            <div class="justify-content-center doble-button">
              <button class="button-link-action postular">Postular</button>
            </div>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>CONVOCATORIA CAS N° 001-2022-UNCP</td>
          <td>Asistenten Logístico 1</td>
          <td>Bienestar Universitario</td>
          <td>S/. 2500.00</td>
          <td>
            <div class="justify-content-center doble-button">
              <button class="button-link-action postular">Postular</button>
            </div>
          </td>
        </tr>
        <tr>
          <td>3</td>
          <td>CONVOCATORIA CAS N° 001-2022-UNCP</td>
          <td>Asistenten Logístico 1</td>
          <td>Bienestar Universitario</td>
          <td>S/. 2500.00</td>
          <td>
            <div class="justify-content-center doble-button">
              <button class="button-link-action postular">Postular</button>
            </div>
          </td>
        </tr>
        <tr>
          <td>4</td>
          <td>CONVOCATORIA CAS N° 001-2022-UNCP</td>
          <td>Asistenten Logístico 1</td>
          <td>Bienestar Universitario</td>
          <td>S/. 2500.00</td>
          <td>
            <div class="justify-content-center doble-button">
              <button class="button-link-action postular">Postular</button>
            </div>
          </td>
        </tr>
        <tr>
          <td>5</td>
          <td>CONVOCATORIA CAS N° 001-2022-UNCP</td>
          <td>Asistenten Logístico 1</td>
          <td>Bienestar Universitario</td>
          <td>S/. 2500.00</td>
          <td>
            <div class="justify-content-center doble-button">
              <button class="button-link-action postular">Postular</button>
            </div>
          </td>
        </tr>
        <tr>
          <td>6</td>
          <td>CONVOCATORIA CAS N° 001-2022-UNCP</td>
          <td>Asistenten Logístico 1</td>
          <td>Bienestar Universitario</td>
          <td>S/. 2500.00</td>
          <td>
            <div class="justify-content-center doble-button">
              <button class="button-link-action postular">Postular</button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



<div id="foot">
  <p>Universidad Nacional de Centro del Perú | Oficina de Información y Comunicación</p>
</div>
