
  <div id="contenido" class="d-flex flex-column align-items-center pt-5">
    <p>
      Estimado postulante, a través de esta plataforma podrá realizar
      <br>
      su postulación a las distintas convocatorias de la UNCP
    </p>
    <div id="card">
      <div>
        <div class="d-flex">
          <i class="fa-solid fa-circle-exclamation icon-exclamation"></i>
          <h4>Recuerda que:</h4>
        </div>
        <p>Para cualquiera de nuestras convocatorias
          debera tener actualizada su ficha curricular,
          de lo contrario no sera considerado en niguna
          convocatoria UNCP.
        </p>
        <div id="redirect">
          <a href="/intranet/datospersonales">
            Ficha Curricular
          </a>
        </div>
  
      </div>
    </div>
  </div>