<div id="header-menu">
  <div id="header" class="d-flex">
    <img src="" alt="">
    <h2>Convocatoria</h2>
  </div>
  <div id="menu" class="d-flex">
    <div id="submenu" class="d-flex">
      <a href="" class="menu-route text-decoration-none">
        <i class="fa-solid fa-house-chimney circular-icon"></i>
        <p>Inicio</p>
      </a>
      <a href="" class="menu-route route-selected text-decoration-none" >
        <i class="fa-solid fa-file-signature circular-icon"></i>
        <p>Ficha Curricular</p>
      </a>
      <a href="" class="menu-route text-decoration-none">
        <i class="fa-solid fa-bullhorn circular-icon"></i>
        <p>Convocatorias</p>
      </a>
    </div>
    <div  class="d-flex">
      <button id="user-info" class="d-flex">
        <p>Antony Arias de la Cruz</p>
        <i class="fa-solid fa-caret-down" style="color: #fff; margin: 10px"></i>
        <i class="fa-solid fa-user circular-icon"></i>
      </button>
    </div>
  </div>
</div>
<div id="contenido" class="d-flex flex-column align-items-center pt-5">
  <p>
    Estimado postulante, a través de esta plataforma podrá realizar
    <br>
    su postulación a las distintas convocatorias de la UNCP
  </p>
  <div id="card">
    <div>
      <div class="d-flex">
        <i class="fa-solid fa-circle-exclamation icon-exclamation"></i>
        <h4>Recuerda que:</h4>
      </div>

      <p>Para cualquiera de nuestras convocatorias
        debera tener actualizada su ficha curricular,
        de lo contrario no sera considerado en niguna
        convocatoria UNCP.
      </p>
      <div id="redirect">
        <a href="">
          Ficha Curricular
        </a>
      </div>

    </div>
  </div>
</div>
