<div id="contenido">
  <div>
    <div class="fc-menu d-flex justify-content-around">
      <div>
        <a href="/intranet/datospersonales" class="fc-menu-route text-decoration-none">
          <div class="ext-border">
            <i class="fa-solid fa-user fc-circular-icon"></i>
          </div>
          <p>Datos Personales</p>
        </a>
      </div>
      <div>
        <a href="/intranet/formacionprof" class="fc-menu-route text-decoration-none">
          <div class="ext-border">
            <i class="fa-solid fa-book fc-circular-icon"></i>
          </div>
          <p>Formación Académica</p>
        </a>
      </div>
      <div>
        <a href="/intranet/cursos" class="fc-menu-route text-decoration-none">
          <div class="ext-border">
            <i class="fa-solid fa-scroll fc-circular-icon"></i>
          </div>
          <p>Cursos y/o Especializaciones</p>
        </a>
      </div>
      <div>
        <a href="/intranet/experiencia" class="fc-menu-route text-decoration-none">
          <div class="ext-border">
            <i class="fa-solid fa-briefcase fc-circular-icon"></i>
          </div>
          <p>Experiencia Laboral</p>
        </a>
      </div>
      <div>
        <a href="/intranet/infoadd" class="fc-menu-route text-decoration-none">
          <div class="ext-border">
            <i class="fa-solid fa-info fc-circular-icon"></i>
          </div>
          <p>Información Adicional</p>
        </a>
      </div>
    </div>
    <hr>
    <div id="add-info">
      <p>Estimado postulante, llegaste al final del rellenado de información para su postulación, ahora podra acceder a todas las convocatorias
        que la UNCP tiene para el publico en general, agradecemos que acepe la declaración para finalizar su inscripción de ficha curricular.</p>
      <div class="d-flex message message-blue">
        <input type="checkbox" name="" id="">
        <p>
          Declaro bajo juramento que la información registrada por mi persona es veraz, para realizar mi postulación
          correctamente, así mismo, autorizo que la comisión organizadora de la convocatoria se comunique con
          las personas que refiero como fidelidad de haber laborado en las instituciones o entidades que mencione;
          en caso de comprobarse lo contrario, asumo total responsabilidad y consecuencias legales que amerite.
        </p>
      </div>
      <div class="d-flex justify-content-center ">
        <input type="submit" value="Guardar Declaración Jurada" class="input-submit">
      </div>
    </div>
  </div>
</div>
