<div class="bg-user">

</div>

<div class="main-container position-fixed w-100 h-100 float-start">
    <div class="nav-min">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <img class="mt-4 mb-5" src="assets/uncp-logo.png" alt="" height="25">
                   <hr>
               </div>
               <div class="col-12 p-0">    
                    <button routerLink="/admin" type="button" class="w-100 panel-menu-item bg-transparent border-0 pt-2 pb-2 ps-2 pe-2 text-start" (click)="valRouteActive('/admin');" [ngClass]="{'menu_active_btn': menuActive==1}">
                    <span class="float-start text-center me-2" style="width: 35px;" [ngClass]="{'menu_active': menuActive==1}">
                        <i class="far fa-user"></i>
                    </span>
                    </button>
                    <button routerLink="filtro" type="button" class="w-100 panel-menu-item bg-transparent border-0 pt-2 pb-2 ps-2 pe-2 text-start" (click)="valRouteActive('filtro');" [ngClass]="{'menu_active_btn': menuActive==4}">
                        <span class="float-start text-center me-2" style="width: 35px;" [ngClass]="{'menu_active': menuActive==4}">
                            <i class="fas fa-user-shield"></i>
                        </span>
                    </button>
                    <button routerLink="dependencias" type="button" class="w-100 panel-menu-item bg-transparent border-0 pt-2 pb-2 ps-2 pe-2 text-start" (click)="valRouteActive('dependencias');" [ngClass]="{'menu_active_btn': menuActive==2}">
                        <span class="float-start text-center me-2" style="width: 35px;" [ngClass]="{'menu_active': menuActive==2}">
                            <i class="fas fa-sitemap"></i>
                        </span> 
                    </button>
                    <button routerLink="reportes" type="button" class="w-100 panel-menu-item bg-transparent border-0 pt-2 pb-2 ps-2 pe-2 text-start" (click)="valRouteActive('reportes');" [ngClass]="{'menu_active_btn': menuActive==3}">
                        <span class="float-start text-center me-2" style="width: 35px;" [ngClass]="{'menu_active': menuActive==3}">
                            <i class="far fa-clipboard"></i>
                        </span>
                    </button>       
               </div>
               <div class="col-12">
                   <hr>
               </div>
            </div>
        </div>
    </div>
    <section class="position-absolute float-end h-100">
        <header class="w-100 position-relative bg-dark float-start p-1">
            <button type="button" class="btn btn-secondary bg-transparent btn_min_resp" (click)="minMenu();">
                <i class="fas fa-bars"></i>
            </button>
            <div class="btn-group float-end">
                <button type="button" class="btn btn-secondary border-0 bg-transparent dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="1,7">
                  Mi cuenta
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li><button routerLink="/" class="dropdown-item" type="button">Ir a la aplicación</button></li>
                  <li><button class="dropdown-item" type="button" (click)="logout();">Cerrar Sessión</button></li>
                </ul>
            </div>
        </header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                   
                    <router-outlet></router-outlet>

                </div>
            </div>
        </div>
    </section>
    <nav class="position-relative float-start h-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 text-center">
                    <img class="mt-2" src="assets/uncp-logo.png" alt="" height="80">
                    <h5 class="mt-2 fw-bold">Universidad Nacional del Centro del Perú</h5>
                    <hr>
                </div>  
               <div class="col-12 p-0">   
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item bg-transparent">
                            <div class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed w-100 panel-menu-item bg-transparent border-0 pt-2 pb-2 ps-2 pe-2 text-start" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" style="color: inherit !important; box-shadow: none !important">
                                    <span class="float-start text-center me-2" style="width: 35px;">
                                        <i class="far fa-user"></i>
                                    </span>
                                    Usuarios
                                </button>
                            </div>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body pt-0 pb-1 ps-3 pe-1">
                                    <button routerLink="/admin" type="button" class="w-100 panel-menu-item bg-transparent border-0 pt-2 pb-2 ps-2 pe-2 text-start" (click)="valRouteActive('/admin');" [ngClass]="{'menu_active_btn': menuActive==1}">
                                        <span class="float-start text-center me-2" style="width: 35px;" [ngClass]="{'menu_active': menuActive==1}">
                                            <i class="fas fa-user-tie"></i>
                                        </span>
                                        Usuarios Activos
                                    </button>
                                    <button routerLink="filtro" type="button" class="w-100 panel-menu-item bg-transparent border-0 pt-2 pb-2 ps-2 pe-2 text-start" (click)="valRouteActive('filtro');" [ngClass]="{'menu_active_btn': menuActive==2}">
                                        <span class="float-start text-center me-2" style="width: 35px;" [ngClass]="{'menu_active': menuActive==2}">
                                            <i class="fas fa-user-shield"></i>
                                        </span>
                                        Usuarios Habilitados
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--
                    <button routerLink="/admin" type="button" class="w-100 panel-menu-item bg-transparent border-0 pt-2 pb-2 ps-2 pe-2 text-start" (click)="valRouteActive('/admin');" [ngClass]="{'menu_active_btn': menuActive==1}">
                        <span class="float-start text-center me-2" style="width: 35px;" [ngClass]="{'menu_active': menuActive==1}">
                            <i class="far fa-user"></i>
                        </span>
                        Usuarios
                    </button>
                    -->
                    <button routerLink="postulantes" type="button" class="w-100 panel-menu-item bg-transparent border-0 pt-2 pb-2 ps-2 pe-2 text-start" (click)="valRouteActive('postulantes');" [ngClass]="{'menu_active_btn': menuActive==7}">
                        <span class="float-start text-center me-2" style="width: 35px;" [ngClass]="{'menu_active': menuActive==7}">
                            <i class="fa-solid fa-users-line"></i>
                        </span>
                         Postulantes
                    </button>

                    <button routerLink="dependencias" type="button" class="w-100 panel-menu-item bg-transparent border-0 pt-2 pb-2 ps-2 pe-2 text-start" (click)="valRouteActive('dependencias');" [ngClass]="{'menu_active_btn': menuActive==3}">
                        <span class="float-start text-center me-2" style="width: 35px;" [ngClass]="{'menu_active': menuActive==3}">
                            <i class="fas fa-sitemap"></i>
                        </span>
                         Dependencias
                    </button>
          
                
                    <button routerLink="convocatorias" type="button" class="w-100 panel-menu-item bg-transparent border-0 pt-2 pb-2 ps-2 pe-2 text-start" (click)="valRouteActive('convocatorias');" [ngClass]="{'menu_active_btn': menuActive==4}">
                        <span class="float-start text-center me-2" style="width: 35px;" [ngClass]="{'menu_active': menuActive==4}">
                            <i class="fa-solid fa-briefcase"></i>
                        </span>
                         Convocatorias
                    </button>


                    <div class="accordion accordion-flush" id="accordionFlushExample2">
                        <div class="accordion-item bg-transparent">
                            <div class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed w-100 panel-menu-item bg-transparent border-0 pt-2 pb-2 ps-2 pe-2 text-start" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo" style="color: inherit !important; box-shadow: none !important">
                                    <span class="float-start text-center me-2" style="width: 35px;">
                                        <i class="far fa-clipboard"></i>
                                    </span>
                                    Reportes
                                </button>
                            </div>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample2">
                                <div class="accordion-body pt-0 pb-1 ps-3 pe-1">
                                    <button routerLink="reportes" type="button" class="w-100 panel-menu-item bg-transparent border-0 pt-2 pb-2 ps-2 pe-2 text-start" (click)="valRouteActive('reportes');" [ngClass]="{'menu_active_btn': menuActive==5}">
                                        <span class="float-start text-center me-2" style="width: 35px;" [ngClass]="{'menu_active': menuActive==5}">
                                            <i class="far fa-clipboard"></i>
                                        </span>
                                        Asistencia
                                    </button>
                                    <button routerLink="actividades" type="button" class="w-100 panel-menu-item bg-transparent border-0 pt-2 pb-2 ps-2 pe-2 text-start" (click)="valRouteActive('actividades');" [ngClass]="{'menu_active_btn': menuActive==6}">
                                        <span class="float-start text-center me-2" style="width: 35px;" [ngClass]="{'menu_active': menuActive==6}">
                                            <i class="far fa-clipboard"></i>
                                        </span>
                                        Actividades
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

               </div>
               <div class="col-12">
                   <hr>
               </div>
            </div>
        </div>
    </nav>
    
</div>



