<div id="contenido">
    <div id="convocatoria" class="fc-menu d-flex flex-column ">
      <div id="search" class="fc-input p7-7 d-flex col-4 align-items-center justify-content-center" style="width: 100%">
        <label class="col-2" for="documento">Buscar Convocatoria:</label>
        <input class="col-6" type="text" name="documento" id="documento"  placeholder="Ingrese número de convocatoria">
        <input class="col-2 input-submit" type="submit" value="Buscar">
      </div>
      <div id="resumen" class="d-flex justify-content-center">
        <table class="table-hover table-bordered tablas">
          <thead class="t-head">
            <tr>
              <th class="c1">N°</th>
              <th class="c5">Nombre de la Convocatoria</th>
              <th class="c4">Puestos</th>
              <th class="c2">Bases</th>
              <th class="c2">Anexos</th>
              <th class="c3">Estado</th>
              <th class="c3">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>CONVOCATORIA CAS N° 001-2022-UNCP</td>
              <td>10 Puestos</td>
              <td>
                <i class="enable fa-solid fa-download"></i>
              </td>
              <td>
                <i class="enable fa-solid fa-download"></i>
              </td>
              <td>
                <p class="button-link-action vigente" >Vigente</p>
              </td>
              <td>
                <a class="button-link-action ver" >Ver</a>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>CONVOCATORIA CAS N° 002-2022-UNCP</td>
              <td>10 Puestos</td>
              <td>
                <i class="enable fa-solid fa-download"></i>
              </td>
              <td>
                <i class="enable fa-solid fa-download"></i>
              </td>
              <td>
                <p class="button-link-action proceso" >En Proceso</p>
              </td>
              <td>
                <a class="button-link-action seguimiento" >Seguimiento</a>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>CONVOCATORIA CAS N° 003-2022-UNCP</td>
              <td>10 Puestos</td>
              <td>
                <i class="disable fa-solid fa-download"></i>
              </td>
              <td>
                <i class="disable fa-solid fa-download"></i>
              </td>
              <td>
                <p class="button-link-action finalizado" >Finalizado</p>
              </td>
              <td>
                <a class="button-link-action oculto" >Ver</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  