<div id="header-menu">
  <div id="header" class="d-flex">
    <img src="" alt="">
    <h2>Convocatoria</h2>
  </div>
  <div id="menu" class="d-flex">
    <div id="submenu" class="d-flex">
      <a href="" class="menu-route text-decoration-none">
        <i class="fa-solid fa-house-chimney circular-icon"></i>
        <p>Inicio</p>
      </a>
      <a href="" class="menu-route route-selected text-decoration-none" >
        <i class="fa-solid fa-file-signature circular-icon"></i>
        <p>Ficha Curricular</p>
      </a>
      <a href="" class="menu-route text-decoration-none">
        <i class="fa-solid fa-bullhorn circular-icon"></i>
        <p>Convocatorias</p>
      </a>
    </div>
    <div  class="d-flex">
      <button id="user-info" class="d-flex">
        <p>Antony Arias de la Cruz</p>
        <i class="fa-solid fa-caret-down" style="color: #fff; margin: 10px"></i>
        <i class="fa-solid fa-user circular-icon"></i>
      </button>
    </div>
  </div>
</div>

<div id="contenido">
  <div>
    <div class="fc-menu d-flex justify-content-around">
      <div>
        <a href="" class="fc-menu-route text-decoration-none">
          <div class="ext-border">
            <i class="fa-solid fa-user fc-circular-icon"></i>
          </div>
          <p>Datos Personales</p>
        </a>
      </div>
      <div>
        <a href="" class="fc-menu-route text-decoration-none">
          <div class="ext-border">
            <i class="fa-solid fa-book fc-circular-icon"></i>
          </div>
          <p>Formación Académica</p>
        </a>
      </div>
      <div>
        <a href="" class="fc-menu-route text-decoration-none">
          <div class="ext-border">
            <i class="fa-solid fa-scroll fc-circular-icon"></i>
          </div>
          <p>Cursos y/o Especializaciones</p>
        </a>
      </div>
      <div>
        <a href="" class="fc-menu-route text-decoration-none">
          <div class="ext-border">
            <i class="fa-solid fa-briefcase fc-circular-icon"></i>
          </div>
          <p>Experiencia Laboral</p>
        </a>
      </div>
      <div>
        <a href="" class="fc-menu-route text-decoration-none">
          <div class="ext-border">
            <i class="fa-solid fa-info fc-circular-icon"></i>
          </div>
          <p>Información Adicional</p>
        </a>
      </div>
    </div>
    <hr>
    <div>
      <form action="" method="post">
        <div class="d-flex">
          <div class="fc-input d-flex flex-column col-4">
            <label for="documento">Documento <b>*</b></label>
            <input type="text" name="documento" id="documento"  placeholder="DNI">
          </div>
          <div class="fc-input d-flex flex-column col-4">
            <label for="dni">Número de Documento <b>*</b></label>
            <input type="text" name="dni" id="dni" placeholder="Ingrese DNI">
          </div>
          <div class="fc-input d-flex flex-column col-4">
            <label for="ruc">RUC <b>*</b></label>
            <input type="text" name="ruc" id="ruc" placeholder="Ingrese RUC">
          </div>
        </div>
        <div class="d-flex">
          <div class="fc-input d-flex flex-column col-6">
            <label for="ap_paterno">Apellido Paterno <b>*</b></label>
            <input type="text" name="ap_paterno" id="ap_paterno" placeholder="Ingrese Apellido Paterno">
          </div>
          <div class="fc-input d-flex flex-column col-6">
            <label for="ap_materno">Apellido Materno <b>*</b></label>
            <input type="text" name="ap_materno" id="ap_materno" class="ap_materno" placeholder="Ingrese Apellido Materno">
          </div>
        </div>
        <div class="d-flex">
          <div class="fc-input d-flex flex-column col-6">
            <label for="nombres">Nombres <b>*</b></label>
            <input type="text" name="nombres" id="nombres" placeholder="Ingrese Nombres">
          </div>
          <div class="fc-input d-flex flex-column col-6">
            <label for="sexo">Sexo <b>*</b></label>
            <input type="text" name="sexo" id="sexo" placeholder="Sexo">
          </div>
        </div>
        <div class="d-flex">
          <div class="fc-input d-flex flex-column col-6">
            <label for="f_nacimiento">Fecha de Nacimiento <b>*</b></label>
            <input type="date" name="f_nacimiento" id="f_nacimiento" placeholder="Ingrese Apellido Paterno">
          </div>
          <div class="fc-input d-flex flex-column col-6">
            <label for="l_nacimiento">Lugar de Nacimiento <b>*</b></label>
            <input type="text" name="l_nacimiento" id="l_nacimiento" placeholder="Ingrese Lugar de Nacimiento">
          </div>
        </div>
        <div class="d-flex">
          <div class="fc-input d-flex flex-column col-4">
            <label for="departamento">Departamento <b>*</b></label>
            <input type="text" name="departamento" id="departamento"  placeholder="Seleccione">
          </div>
          <div class="fc-input d-flex flex-column col-4">
            <label for="provincia">Provincia <b>*</b></label>
            <input type="text" name="provincia" id="provincia" placeholder="Seleccione">
          </div>
          <div class="fc-input d-flex flex-column col-4">
            <label for="distrito">Distrito <b>*</b></label>
            <input type="text" name="distrito" id="distrito" placeholder="Seleccione">
          </div>
        </div>
        <div class="d-flex">
          <div class="fc-input d-flex flex-column col-12">
            <label for="direccion">Dirección de Vivienta <b>*</b></label>
            <input type="text" name="direccion" id="direccion"  placeholder="Ingrese dirección">
          </div>
        </div>
        <div class="d-flex">
          <div class="fc-input d-flex flex-column col-4">
            <label for="n_departamento">Departamento <b>*</b></label>
            <input type="text" name="n_departamento" id="n_departamento"  placeholder="Seleccione">
          </div>
          <div class="fc-input d-flex flex-column col-4">
            <label for="n_provincia">Provincia <b>*</b></label>
            <input type="text" name="n_provincia" id="n_provincia" placeholder="Seleccione">
          </div>
          <div class="fc-input d-flex flex-column col-4">
            <label for="n_distrito">Distrito <b>*</b></label>
            <input type="text" name="n_distrito" id="n_distrito" placeholder="Seleccione">
          </div>
        </div>
        <div class="d-flex">
          <div class="fc-input d-flex flex-column col-4">
            <label for="correo">Correo <b>*</b></label>
            <input type="text" name="correo" id="correo"  placeholder="Ingrese Correo">
          </div>
          <div class="fc-input d-flex flex-column col-4">
            <label for="celular">Celular <b>*</b></label>
            <input type="text" name="celular" id="celular" placeholder="Ingrese Celular">
          </div>
          <div class="fc-input d-flex flex-column col-4">
            <label for="telefono">Teléfono</label>
            <input type="text" name="telefono" id="telefono" placeholder="Ingrese Teléfono">
          </div>
        </div>
        <div class="d-flex">
          <div class="fc-input d-flex flex-column col-3">
            <label for="e_civil">Estado Civil <b>*</b></label>
            <input type="text" name="e_civil" id="e_civil"  placeholder="Seleccione">
          </div>
          <div class="fc-input d-flex flex-column col-3">
            <label for="nacionalidad">Nacionalidad <b>*</b></label>
            <input type="text" name="nacionalidad" id="nacionalidad" placeholder="Seleccione">
          </div>
          <div class="fc-input d-flex flex-column col-3">
            <label for="f_armadas">Fuerzas Armadas <b>*</b></label>
            <input type="text" name="f_armadas" id="f_armadas" placeholder="Seleccione">
          </div>
          <div class="fc-input d-flex flex-column col-3">
            <label for="discapacidad">Discapacidad <b>*</b></label>
            <input type="text" name="discapacidad" id="discapacidad" placeholder="Seleccione">
          </div>
        </div>
        <div class="d-flex justify-content-center message">
          <p>
            Los campos marcados con un "*" son Obligatorios
          </p>
        </div>
        <div class="d-flex justify-content-center">
          <input type="submit" value="Guardar" class="input-submit">
        </div>

      </form>
    </div>
  </div>
</div>
